*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
input{
    margin-left: 160px;
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 24px;
}